argparse==1.4.0
async-timeout==3.0.1
pychromecast==9.1.1
aiohttp[speedups]==3.7.4
asyncio-throttle==1.0.1
aiofiles==0.6.0
aiosqlite==0.17.0
pytaglib==1.4.6
python-slugify==4.0.1
memory-tempfile==2.2.3
aiorun==2020.12.1
soco==0.20
pillow==8.1.0
aiohttp_cors==0.7.0
unidecode==1.1.2
PyJWT==2.0.1
zeroconf==0.28.8
passlib==1.7.4
cryptography==3.4.6
ujson==4.0.2
mashumaro==2.0
typing-inspect==0.6.0; python_version < '3.8'
uvloop==0.15.2; sys_platform != 'win32'
