name: Publish releases to PyPI

on:
  release:
    types: [published, prereleased]

jobs:
  build-and-publish:
    name: Builds and publishes releases to PyPI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Set up Python 3.8
        uses: actions/setup-python@v2.2.2
        with:
          python-version: 3.8
      - name: Include frontend-app in the release package
        run: |
          cd /tmp
          curl https://github.com/music-assistant/app/archive/master.zip -LOk
          unzip master.zip
          cd /tmp/app-master
          mv docs /home/runner/work/server/server/music_assistant/web/static
          cd /home/runner/work/server/server/
      - name: Install wheel
        run: >-
          pip install wheel
      - name: Build
        run: >-
          python3 setup.py sdist bdist_wheel
      - name: Publish release to PyPI
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
