# This workflow will install Python dependencies, run tests and lint
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Test

on:
  push:
    branches:
      - stable
      - dev
  pull_request:
    branches:
      - stable
      - dev

jobs:
  lint:
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5.3.0
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg
          python -m pip install --upgrade pip build setuptools
          pip install . .[test]
      - name: Lint/test with pre-commit
        run: SKIP=no-commit-to-branch pre-commit run --all-files

  test:
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.11"

    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5.3.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install ffmpeg
          python -m pip install --upgrade pip build setuptools
          pip install .[server] .[test] -r requirements_all.txt
      - name: Pytest
        run: pytest --durations 10 --cov-report term-missing --cov=music_assistant --cov-report=xml tests/
